---
interface Props{
    title: String;
}
const {title} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ViewTransition/>
	</head>
	<body class="bg-slate-700 text-slate-100 m-auto max-w-3xl">
	<main class="mt-10">
	<slot/>
		</main>
    </body>
</html>
